streamlit
langchain
langchain_community
langchain_core
langchain_chroma
langchain_groq
langchain_openai
langchain_text_splitters
pypdf
protobuf
torch
pandas
tqdm
huggingface_hub
langchain_huggingface
